.sticky-categories {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed to ensure it stays above other elements */
  background-color: white; /* Optional: Set a background color to avoid transparency issues */
}
